<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymleaf-extras-springsecurity5 ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CaseID</th>
            <th>CifNo</th>
            <th>Description</th>
            <th>DossierId</th>
            <th>StoreId</th>
            <th>DateCreate</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer :${customers}">
            <td th:text="${customer.getId()}"></td>
            <td th:text="${customer.getCustomerName()}"></td>
            <td th:text="${customer.getCaseId()}"></td>
            <td th:text="${customer.getCifNo()}"></td>
            <td th:text="${customer.getDescription()}"></td>
            <td th:text="${customer.getDossierId()}"></td>
            <td th:text="${customer.getStoreId()}"></td>
            <td th:text="${customer.getDateCreate()}"></td>
            <td><a th:href="@{/edit/{id}(id=${customer.id})}">Edit</a></td>
            <td><a th:href="@{/delete/__${customer.id}__}">Delete</a></td>
        </tr>
    </table>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>